@model int

<div>
    <div class="card rounded px-5 py-2">
        <div class="card-body">
            <form action="ErrorImp" class="form needs-validation" role="form" autocomplete="off" method="post">

                <input type="hidden" class="form-control" id="C_CompID" name="ComplaintID" value=@Model required />

                <div class="form-group">
                    <label for="C_Desc">Description</label>
                    <input type="text" class="form-control" placeholder="Enter Description" id="C_Desc" name="Description" required>
                    <div class="invalid-feedback">Please enter valid input</div>
                </div>

                <div>
                    <button type="submit" class="btn btn-success btn-block">Done</button>
                </div>

            </form>
        </div>
    </div>
</div>

